.section-serv {
  padding: 120px 0;
}
.container .section-cont {
  margin: 0 auto;
}
.title-desc {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}
@media screen and (max-width: 1157px) {
  .title-desc {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}

@media screen and (max-width: 767px) {
  .title-desc {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .hero-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .hero-list-item {
    min-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .hero-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .hero-list-item {
    min-width: 0;
    flex-basis: calc((100% - 72px) / 4);
  }

  .container .section-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }
}
